{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            {% if user.is_authenticated and not request.session.logged_in_message_displayed %}
                <div class="alert alert-success">
                    You are logged in as {{ user.username }}!
                </div>
            {% endif %}
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top thumbnail"  src="{{ product.imageURL }}" alt="{{ product.name }}" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    {{ product.price }} T
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="text-center"><a class="btn btn-outline-success" href="#">View</a></div>
                            <br>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button data-product={{product.id}} 
                                    data-action="add" 
                                    class="btn btn-outline-secondary add-btn update-cart">Add To Cart</button></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
{% endblock content %}